 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: white;
background-color: black;}

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: blue }

 ul {	list-style-type: circle;}
